In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from datetime import datetime

In [6]:
df=pd.read_csv('final_dataframe.csv')
df

,Year,Month,State,City,AVG_Dry_Spell,AVG_Frost_Days,AVG_Max_High_Temp,AVG_Min_Low_Temp,AVG_Precip_Percentile
0,2006,January,MD,Adelphi,0.666667,23.333333,58.380462,6.651906,0.008978
1,2006,February,MD,Adelphi,0.523810,16.000000,64.210977,12.375184,0.011565
2,2006,March,MD,Adelphi,0.619048,12.809524,71.779725,18.881910,0.010393
3,2006,April,MD,Adelphi,0.428571,2.619048,81.003826,29.565725,0.019990
4,2006,May,MD,Adelphi,0.380952,0.095238,88.391318,39.327334,0.044866
...,...,...,...,...,...,...,...,...,...
811,2022,August,MS,Ackerman,0.428571,0.000000,99.340256,65.717980,0.037335
812,2022,September,MS,Ackerman,0.809524,0.000000,96.063745,50.827322,0.030998
813,2022,October,MS,Ackerman,1.238095,0.190476,88.225997,36.404745,0.007327
814,2022,November,MS,Ackerman,0.761905,3.142857,79.125849,25.516478,0.020426
815,2022,December,MS,Ackerman,0.714286,9.380952,72.749863,20.284564,0.017431

In [7]:

df=df[df['City']=='Adelphi']
df=df[['Year', "Month", 'AVG_Dry_Spell']]
df

     Year      Month  AVG_Dry_Spell
0    2006    January       0.666667
1    2006   February       0.523810
2    2006      March       0.619048
3    2006      April       0.428571
4    2006        May       0.380952
..    ...        ...            ...
199  2022     August       0.523810
200  2022  September       0.619048
201  2022    October       0.714286
202  2022   November       0.380952
203  2022   December       0.476190

[204 rows x 3 columns]

In [8]:
X_train, X_test, y_train, y_test = train_test_split(
    df['AVG_Dry_Spell'], df['AVG_Dry_Spell'], test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train.values.reshape(-1, 1), y_train)

LinearRegression()

In [10]:
X_test.tail(1)

82    0.238095
Name: AVG_Dry_Spell, dtype: float64

In [9]:
next_value = model.predict(X_test.tail(1).values.reshape(-1, 1))
print(f'The predicted value for the next "Avg_Dry_Spell" is {next_value}.')

The predicted value for the next "Avg_Dry_Spell" is [0.23809524].

In [159]:
df.loc[len(df.index)] = [2023, 'January', next_value]
df.at[df.index[-1], 'AVG_Dry_Spell'] = df['AVG_Dry_Spell'].iloc[-1][-1]


df

     Year      Month AVG_Dry_Spell
0    2006    January      0.666667
1    2006   February       0.52381
2    2006      March      0.619048
3    2006      April      0.428571
4    2006        May      0.380952
..    ...        ...           ...
200  2022  September      0.619048
201  2022    October      0.714286
202  2022   November      0.380952
203  2022   December       0.47619
204  2023    January      0.238095

[205 rows x 3 columns]